html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #3fb9ff 0%, #9ec4d1 50%, #d4d4d4 100%);
    padding: 2vh 4vw;
    box-shadow: 0 0.5vh 1vh black;
}

nav img {
    height: 8vh;
    width: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2vw;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2vh;
    font-weight: 500;
    padding: 0.5vh 1vw;
    transition: 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255,255,255,0.3);
    border-radius: 0.5vh;
}

section {
    padding: 15vh 4vw;
}

@media (max-width: 60vh), (max-width: 60vw) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-top: 2vh;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 1.5vh;
    }

    nav ul li a {
        font-size: 2.5vh;
        padding: 1vh 2vw;
    }

    section {
        padding: 12vh 4vw;
    }
}
